@font-face {
  font-family: 'Kalam';
  src: local('Kalam'), url(./pomodoro/assets/fonts/Kalam-Regular.ttf);
}
@font-face {
  font-family: 'Caveat Brush';
  src: local('Caveat Brush'),
    url(./pomodoro/assets/fonts/CaveatBrush-Regular.ttf);
}
@font-face {
  font-family: 'Caveat';
  src: local('Caveat'), url(./pomodoro/assets/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: '7segments';
  src: local('7segments'), url(./pomodoro/assets/fonts/7segments.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
