.display {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: rgb(102, 255, 153);
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 120px;
  margin: 20px;
  color: rgb(0, 0, 0);
}
