.display {
  display: flex;
  width: 350px;
  height: 200px;
  background-color: rgb(102, 255, 153);
  justify-content: center;
  align-items: center;
  border: solid 3px rgb(26, 14, 80);
  border-radius: 20px;
  font-size: 120px;
  color: rgb(0, 0, 0);
}
