.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    position: fixed;
    top: 0px;
    left: 20px;
    font-size: 43px;
    color: rgb(71, 220, 0);
    text-shadow: 3px 3px 5px rgb(133, 191, 255);
  }
}
