.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}
