.message {
  display: flex;
  width: 700px;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: rgb(57, 249, 57);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 800;
  font-family: Kalam;
}
