.pomodoro {
  display: flex;
  width: 550px;
  height: 380px;
  position: relative;
  bottom: 150px;
  box-sizing: border-box;
  font-family: 'Caveat Brush';
  letter-spacing: 0px;
  background: rgba(0, 153, 0, 0.9);
  background: -moz-linear-gradient(
    top,
    rgba(0, 153, 0, 0.9) 0%,
    rgba(204, 255, 255, 0.75) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(0, 153, 0, 0.9)),
    color-stop(100%, rgba(204, 255, 255, 0.75))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 153, 0, 0.9) 0%,
    rgba(204, 255, 255, 0.75) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 153, 0, 0.9) 0%,
    rgba(204, 255, 255, 0.75) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 153, 0, 0.9) 0%,
    rgba(204, 255, 255, 0.75) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 153, 0, 0.9) 0%,
    rgba(204, 255, 255, 0.75) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009900', endColorstr='#ccffff', GradientType=0 );
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  margin-top: 120px;
  color: rgb(0, 0, 0);
  .first-row,
  .third-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 350px;
  }
  .second-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 280px;
    margin: 0px 15px;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .idle-shadow {
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0.5px rgb(0, 0, 0);
  }
  .pause-shadow {
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0.5px rgb(189, 37, 37);
  }
  .focus-shadow {
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0.5px rgb(119, 250, 169);
  }
  .break-shadow {
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0.5px rgb(74, 65, 199);
  }

  .audio-container {
    display: none;
  }
}
