.pomodoro {
  display: flex;
  width: 700px;
  height: 450px;
  background-color: rgba(102, 255, 153, 1);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 150px;
  margin: 20px;
  color: rgb(0, 0, 0);
}
