.time-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 200px;
  align-items: center;
  font-size: 20px;
  font-weight: 800;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(204, 255, 255);
    border: solid 1px rgb(29, 113, 209);
    font-size: 30px;
    font-weight: 600;
  }
  .time {
    background-color: rgb(255, 255, 204);
    border: solid 1px rgb(194, 194, 101);
    padding: 2px;
    font-size: 25px;
    font-weight: 800;
  }
}
