.time-control {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
  height: 280px;
  align-items: center;
  font-size: 20px;
  font-weight: 800;

  button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(204, 255, 255);
    border: solid 3px rgb(72, 212, 255);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
  }

  .time {
    background-color: rgb(255, 255, 204);
    border: solid 1px rgb(194, 194, 101);
    padding: 2px;
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0px;
    text-align: center;
  }

  .button-group {
    display: flex;
    flex-direction: column;
  }

  .text {
    margin: 0px 0px;
  }
}
